/*
 *  TALAIOTIC HACKLAB WEB
 */

@import "fuentes/material-icons.css";
@import "fuentes/roboto.css";

@import "base/globales.css";
@import "base/texto.css";
@import "base/cuadricula.css";
@import "base/formularios.css";
@import "base/tablas.css";
@import "base/iframes.css";
@import "base/botones.css";

@import "componentes/navegacion.css";
@import "componentes/escaparate.css";
@import "componentes/desplegable.css";
@import "componentes/emergente.css";
@import "componentes/acordeon.css";
@import "componentes/solapas.css";
@import "componentes/carrusel.css";

@import "base/utilidades.css";


 /*
  ESTILOS
  *********************************************************/
.escaparate {
  margin-bottom: 0;
}

.escaparate a {
  color: white;
  border-color: white;
}