@font-face {
    font-family: 'robotoregular';
    src: url('roboto-font/Roboto-Regular-webfont.eot');
    src: url('roboto-font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Regular-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Regular-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('roboto-font/Roboto-Black-webfont.eot');
    src: url('roboto-font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Black-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Black-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Black-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('roboto-font/Roboto-BlackItalic-webfont.eot');
    src: url('roboto-font/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-BlackItalic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-font/Roboto-Bold-webfont.eot');
    src: url('roboto-font/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Bold-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Bold-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Bold-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('roboto-font/Roboto-BoldItalic-webfont.eot');
    src: url('roboto-font/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-BoldItalic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('roboto-font/Roboto-Italic-webfont.eot');
    src: url('roboto-font/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Italic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Italic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Italic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('roboto-font/Roboto-Light-webfont.eot');
    src: url('roboto-font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Light-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Light-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Light-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('roboto-font/Roboto-LightItalic-webfont.eot');
    src: url('roboto-font/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-LightItalic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-LightItalic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-font/Roboto-Medium-webfont.eot');
    src: url('roboto-font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Medium-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Medium-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('roboto-font/Roboto-MediumItalic-webfont.eot');
    src: url('roboto-font/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-MediumItalic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('roboto-font/Roboto-ThinItalic-webfont.eot');
    src: url('roboto-font/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-ThinItalic-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('roboto-font/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('roboto-font/Roboto-Thin-webfont.eot');
    src: url('roboto-font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-font/Roboto-Thin-webfont.woff2') format('woff2'),
         url('roboto-font/Roboto-Thin-webfont.woff') format('woff'),
         url('roboto-font/Roboto-Thin-webfont.ttf') format('truetype'),
         url('roboto-font/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
