/*
 *  UTUQU - ACORDEÓN
 *  Basado en el elemento
 *************************************************/

details {
  overflow: hidden;
  background: var(--color-secundario);
  margin-bottom: .5rem;
  display: block;
  padding: 1rem 2rem;
  color: var(--color-primario);
}

details:focus {
  outline: 1px dotted var(--color-primario);
}

summary {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  cursor: pointer;
  outline: 0;
  color: inherit;
}

summary ~ * {
  margin: 1rem 0;
  color: inherit;
}

.acordeon--discreto {
  background: transparent;
}

.acordeon--ligero {
  background: transparent;
  border: 1px solid var(--color-secundario);
}

.acordeon--destacado {
  background: var(--color-primario);
}

.acordeon--destacado summary ~ * {
  color: var(--color-texto-negativo);
}
