/*
*   UTUQU - ACORDEÓN
*************************************************/

.carrusel {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.carrusel_contenedor {
  width: 400%;
  height: auto;
  position: relative;
  -webkit-animation: diapos 30s infinite;
  -moz-animation: diapos 30s infinite;
  animation: diapos 30s infinite;
}

.carrusel_item {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.carrusel_contenido {
  width: 100%;
  height: 100%;
}

.carrusel_imagen {
  width: 100%;
  height:  auto;
}

.carrusel_texto {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem 2rem;
  color: #FFF;
}

/* Animation */

@keyframes load {
  from{ left: -100%; }
  to{ left: 0; }
}

@-webkit-keyframes diapos {
  0%,100%{ margin-left: 0%; }
  21%{ margin-left: 0%; }
  25%{ margin-left: -100%; }
  46%{ margin-left: -100%; }
  50%{ margin-left: -200%; }
  71%{ margin-left: -200%; }
  75%{ margin-left: -300%; }
  96%{ margin-left: -300%; }
}

@-moz-keyframes diapos {
  0%,100%{ margin-left: 0%; }
  21%{ margin-left: 0%; }
  25%{ margin-left: -100%; }
  46%{ margin-left: -100%; }
  50%{ margin-left: -200%; }
  71%{ margin-left: -200%; }
  75%{ margin-left: -300%; }
  96%{ margin-left: -300%; }
}

@keyframes diapos {
  0%,100%{ margin-left: 0%; }
  21%{ margin-left: 0%; }
  25%{ margin-left: -100%; }
  46%{ margin-left: -100%; }
  50%{ margin-left: -200%; }
  71%{ margin-left: -200%; }
  75%{ margin-left: -300%; }
  96%{ margin-left: -300%; }
}
