/*
*   UTUQU - ESCAPARATE
**************************************************/

.escaparate {
  display: table;
  width: var(--anchura-escaparate);
  height: var(--altura-escaparate);
  z-index: -1;
  margin-bottom: 3rem;
  background-color: var(--color-primario);
  color: var(--color-texto-negativo);
}

.escaparate_video,
.escaparate_imagen {
  min-width: var(--anchura-escaparate);
  height: var(--altura-escaparate);
  position: absolute;
  overflow: hidden;
  opacity: .5;
  object-fit: cover;
}

.escaparate_seccion {
  display: table-cell;
  position: relative;
  vertical-align: var(--alineacion-vertical-escaparate);
  text-align: var(--alineacion-horizontal-escaparate);
  padding: 4rem 2rem;
}

.escaparate_titulo {
  width: var(--anchura-contenido-escaparate-movil);
  font-size: 4em;
  font-weight: bolder;
  line-height: 1;
  margin: 0 auto 1rem auto;
}

.escaparate_parrafo {
  width: var(--anchura-contenido-escaparate-movil);
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.2;
  margin: 0 auto 1rem auto;
}

@media (max-width: 1000px) {
  .escaparate_titulo {
    width: var(--anchura-contenido-escaparate-tableta)
    font-size: 3.4em;
  }

  .escaparate_parrafo {
    width: var(--anchura-contenido-escaparate-tableta)
    font-size: 1.7em;
  }
}

@media (max-width: 800px) {
  .escaparate_titulo {
    width: var(--anchura-contenido-escaparate-escritorio)
    font-size: 3em;
  }

  .escaparate_parrafo {
    width: var(--anchura-contenido-escaparate-escritorio)
    font-size: 1.6em;
  }
}

/* @media (max-width: 600px) {
  .escaparate_titulo {
    width: 100%;
    font-size: 2.8em;
  }

  .escaparate_parrafo {
    width: 100%;
    font-size: 1.5em;
  } */
