/*
*  UTUQU - NAVEGACIÓN
*  Una barra de navegación para Utuqu con
*  panel lateral en pantallas pequeñas
**************************************************/

body {
    overflow-x: hidden;
}

.navegacion {
    position: relative;
    width: 100%;
    background-color: var(--color-primario);
    content: "";
    display: table;
    clear: both;
    z-index: 999;
}

.navegacion a {
  border: none;
}

.navegacion_nombre {
    float: left;
    margin-right: 1.5rem;
    display: block;
    padding: 1.65em 1em;
    color: #FFF;
    color: var(--color-texto-negativo);
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.navegacion_espaciador {
    height: 7rem;
}

@media (max-width: 1200px) {
  .navegacion_espaciador {
      height: 4rem;
  }
}

.navegacion_derecha {
    float: right;
}

.navegacion_menu {
    margin: 0;
    list-style: none;
}

@media (max-width: 1000px) {
    .navegacion_menu {
        width: 280px;
        height: 100%;
        position: fixed;
        margin: 0;
        padding-top: 4rem;
        top: 0;
        right: -280px;
        bottom: 0;
        background-color: #333;
        background-color: var(--color-primario);
        box-shadow: 1px 1px 5px #333;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        z-index: 99999;
    }
}

.navegacion_item {
    float: left;
    position: relative;
}

.navegacion_item a {
    display: block;
    padding: 2rem 1rem;
    color: #DDD;
    color: var(--color-secundario);
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a.navegacion_item--activo,
.navegacion_item a:hover,
.navegacion_item--activo a {
    color: #333;
    color: var(--color-primario);
    background-color: #DDD;
    background-color: var(--color-secundario);
}

@media (max-width: 1000px) {
    .navegacion_item {
        float: none;
        width: 100%;
    }
    .navegacion_item a {
        display: block;
        padding: 2rem;
    }
}

.navegacion_desplegable {
    display: none;
    position: absolute;
    top: 4em;
    margin-left: 0;
    background-color: #DDD;
    background-color: var(--color-secundario);
    border-top: none;
    width: 200px;
    z-index: 5;
}

@media (max-width: 1000px) {
    .navegacion_desplegable {
        width: 240px;
        position: fixed;
        top: 0;
        left: auto;
        bottom: 0;
        right: 0;
        box-shadow: 1px 1px 5px #333;
        box-shadow: 1px 1px 5px var(--color-primario);
        z-index: 666;
    }
}

.navegacion_desplegable .navegacion_item {
    float: left;
    width: 100%;
}

.navegacion_desplegable .navegacion_item a {
    padding: 2rem;
    font-size: .7em;
    color: #333;
    color: var(--color-primario);
    text-decoration: none;
    border-bottom: none;
}

.navegacion_desplegable .navegacion_item a:hover {
    color: #000;
}

a.navegacion_tiene-desplegable {
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 3224'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    -webkit-background-size: 9px 6px;
    background-size: 9px 6px;
    background-position: right -1.5rem center;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    a.navegacion_tiene-desplegable {
        padding-right: 2.5rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='32' viewBox='0 0 2432'><polygon points='0,0 24,16 0,32' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
        -webkit-background-size: 6px 9px;
        background-size: 6px 9px;
        background-position: right -1.5rem center;
        -webkit-background-origin: content-box;
        background-origin: content-box;
        background-repeat: no-repeat;
    }
}

.navegacion_desplegable .icono_cerrar {
    visibility: hidden;
}

.navegacion_tiene-desplegable:focus + .navegacion_desplegable {
    display: block;
}

.navegacion_tiene-desplegable:focus .navegacion_desplegable .icono_cerrar {
    visibility: visible;
    z-index: 5;
}

.navegacion_extra {
    float: left;
    padding: 1.2em;
    color: #DDD;
    color: var(--color-secundario);
    font-weight: bold;
    position: relative;
}

.navegacion_extra a {
    display: block;
    font-size: 1em;
    color: #FFF;
    color: var(--color-texto-invertido);
    font-weight: bold;
}

.navegacion_extra i {
    vertical-align: middle;
    margin: 0 .5rem;
}

.navegacion_extra a:hover {
    color: #FFF;
    color: var(--color-texto-negativo);
}

.navegacion_extra .navegacion_item a {
    font-weight: normal;
}

@media (max-width: 1000px) {
    .navegacion_extra a {
        display: block;
        padding: 0 1em;
        font-size: 1em;
        color: #FFF;
        color: var(--color-texto-negativo);
    }
}

.navegacion_conmutador {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

@media (max-width: 1000px) {
    .navegacion_conmutador:checked ~ .navegacion_menu {
        right: 0;
    }
}

label[for="navegacion_conmutador"] {
    display: none;
    z-index: 999999;
}

@media (max-width: 1000px) {
    label[for="navegacion_conmutador"] {
        display: block;
        position: absolute;
        top: .5em;
        right: .5em;
        margin: 0 !important;
        cursor: pointer;
        color: #FFF;
        color: var(--color-texto-negativo);
        font-size: 2em;
        font-weight: lighter;
    }

    label[for="navegacion_conmutador"]:after {
        content: "+"
    }

    .navegacion_conmutador:checked ~ label[for="navegacion_conmutador"] {
        transform: rotate(45deg);
    }
}

@media (max-width: 1000px) {
    .navegacion_login {
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
    }
    .navegacion_login a {
        padding: 0;
    }
}

.navegacion_asistida {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.enfocable:active,
.enfocable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
