/*
*  UTUQU - CUADRICULA
*  La cuadrícula de Utuqu usa la técnica de
*  elementos flotantes para permitir la división
*  de espacios verticales y consiste en crear
*  divisiones horizontales que contienen
*  subdivisiones verticales a modo de columnas
*
*************************************************/

/*
    TODO:
    Estilos para pantallas extra grandes: +1920px
    Añadir Flexbox
*/

/*
DIVISIONES HORIZONTALES
*/

/* Creamos un contenedor horizontal con la anchura máxima deseada */
.fila {
  max-width: var(--anchura-maxima);
  margin: 0 auto;
  clear: both;
}

/* Clarificamos las flotaciones */
.fila:after {
  content: "";
  display: table;
  clear: both;
}

/*
DIVISIONES VERTICALES
*/

/* Ajustamos las columnas al margen izquierdo */
[class*='peque-'],
[class*='medio-'],
[class*='grande-'] {
  float: left;
  padding: var(--relleno-columnas);
}

/* Definimos los tamaños para la vista por debajo de 600px */
.peque-1        { width: 8.33%; }
.peque-2        { width: 16.66%; }
.peque-3        { width: 25%; }
.peque-4        { width: 33.33%; }
.peque-5        { width: 41.66%; }
.peque-6        { width: 50%; }
.peque-7        { width: 58.33%; }
.peque-8        { width: 66.66%; }
.peque-9        { width: 75%; }
.peque-10       { width: 83.33%; }
.peque-11       { width: 91.66%; }
.peque-12       { width: 100%; }

/* Hasta 599px las columnas que no especifiquen un tamaño para pantallas pequeñas se apilan una encima de la otra */
[class*='medio-'],
[class*='grande-'] {
  width: 100%;
}

/* Definimos las vistas de 600px hasta 1199px */
@media only screen and (min-width: 600px) {
  .medio-1        { width: 8.33%; }
  .medio-2        { width: 16.66%; }
  .medio-3        { width: 25%; }
  .medio-4        { width: 33.33%; }
  .medio-5        { width: 41.66%; }
  .medio-6        { width: 50%; }
  .medio-7        { width: 58.33%; }
  .medio-8        { width: 66.66%; }
  .medio-9        { width: 75%; }
  .medio-10       { width: 83.33%; }
  .medio-11       { width: 91.66%; }
  .medio-12       { width: 100%; }
}

/* Definimos las vistas de 1200px en adelante */
@media only screen and (min-width: 1200px) {
  .grande-1        { width: 8.33%; }
  .grande-2        { width: 16.66%; }
  .grande-3        { width: 25%; }
  .grande-4        { width: 33.33%; }
  .grande-5        { width: 41.66%; }
  .grande-6        { width: 50%; }
  .grande-7        { width: 58.33%; }
  .grande-8        { width: 66.66%; }
  .grande-9        { width: 75%; }
  .grande-10       { width: 83.33%; }
  .grande-11       { width: 91.66%; }
  .grande-12       { width: 100%; }
}

/*
CUADRÍCULA AUTOMATICA
*/

/* En móviles hace dos columnas */
.auto-cuadricula .auto-item {
  float: left;
  padding: var(--relleno-columnas);
  width: 50%;
}

/* En tablets y monitores antiguos tendremos tres */
@media (min-width: 600px) {
  .auto-cuadricula .auto-item { width: 33.33%; }
}
/* En pantallas grandes tendremos cuatro columnas */
@media (min-width: 1200px) {
  .auto-cuadricula .auto-item { width: 25%; }
}

/*
UTILIDADES
*/

/* Quitar espacios */
.sin-medianil > [class*='peque-'],
.sin-medianil > [class*='medio-'],
.sin-medianil > [class*='grande-'] {
  padding: 0;
}

.fila .fila.sin-medianil {
  padding: 0 1rem;
}

[class*='peque-'] .fila.sin-medianil,
[class*='medio-'] .fila.sin-medianil,
[class*='grande-'] .fila.sin-medianil {
  padding: 0;
}

/* Igualar alturas */
.alturas-iguales {
  display: table;
}

.iguala {
  float: none;
  display: table-cell;
}

.iguala.nivela {
  vertical-align: middle;
}

@media (max-width: 600px) {
  .iguala {
    float: left;
    display: block;
    border-left: none;
    border-right: none;
    padding: var(--relleno-columnas);
  }
}

/* Centrar columnas */
.columna-centrada {
  float: none;
  margin: 0 auto;
}
