/*
*   UTUQU - GLOBALES
*************************************************/

/*  CONFIGURACIÓN
    Propiedades personalizadas donde podemos
    definir valores globales para reutilizar.

*************************************************/
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {

  --fuente-primaria: 'Inter', sans-serif;

  --color-primario: #000000;
  --color-secundario: #DDDDDD;
  --color-negativo: #FF4136;
  --color-positivo: #3D9970;
  --color-informativo: #0074D9;
  --color-texto: #333333;
  --color-titulares: #333333;
  --color-texto-negativo: #FFFFFF;

  --anchura-maxima: 1200px;
  --relleno-columnas: 1rem;

  --anchura-escaparate: 100vw;
  --altura-escaparate: 100vh;
  --anchura-contenido-escaparate-movil: 60%;
  --anchura-contenido-escaparate-tableta: 60%;
  --anchura-contenido-escaparate-escritorio: 80%;
  --alineacion-vertical-escaparate: middle;
  --alineacion-horizontal-escaparate: center;
}


/*  PREAJUSTE
    Aquí redefinimos el comportamiento por defecto del
    navegador y preajustamos los valores más comunes.

*************************************************/

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    color: var(--color-texto);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: var(--fuente-primaria);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-weight: bolder;
    font-size: inherit;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

figcaption, figure, main {
    display: block;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


/* IMÁGENES */

img {
    max-width: 100%;
    display: block;
    height: auto;
    border: 0;
    border-style: none;
}


/* ENLACES */

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #000;
    border-bottom: 1px solid #333;
    border-bottom: 1px solid var(--color-primario);
}

a:active, a:hover {
    outline-width: 0;
    border-bottom: none;
}

button {
    overflow: visible;
    border: 0;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* LISTAS */

ul, ol {
    list-style: none;
    margin-left: .5rem;
    margin-bottom: 1rem;
}


/* PARRAFOS */

p {
    margin-bottom: 1rem;
}


/* CÓDIGO */

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    margin: 0;
}

pre code {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

p code {
    padding: 0 .5rem;
}


/* ÍNDICES */

sup {
    top: -0.5rem;
    left: .1rem;
}

sub {
    bottom: -0.25em;
    left: .1em;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


/* ÉNFASIS */

strong {
    font-weight: bold;
}

blockquote {
    display: block;
    font-style: italic;
    font-size: 120%;
    padding: 1.5rem 3rem;
    margin: 0 3rem 2rem 3rem;
    color: #777;
    border-left: 3px solid #777;
}


/*  MISCELANEA */

hr {
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #DDD;
    border-left: 0;
    margin: 1rem auto;
    clear: both;
    overflow: visible;
}

small {
    font-size: 80%;
}
