/*
*   UTUQU - TEXTO
*************************************************/

/* TITULARES */

h1 {
    font-size: 4.25em;
    line-height: 1.05882353em;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2.625em;
    line-height: 1.14285714em;
    margin-bottom: 0.87142857rem;
}

h3 {
    font-size: 1.625em;
    line-height: 1.74615385em;
    margin-bottom: .6rem;
}

h4 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: .8rem;
}

h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
}


/* LISTAS */

.lista-decorada {
  padding-left: 1rem;
  margin-left: .5rem;
}

ul.lista-decorada {
  list-style: disc;
}

ol.lista-decorada {
  list-style: decimal;
}

.lista-horizontal {
  margin-left: 0;
}

.lista-horizontal li {
  display: inline-block;
  margin-right: 1rem;
}


/*
    TODO:
    * Crear estilos para listas de definición
*/


/* CÓDIGO */

pre {
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    padding: 1rem 2rem;
    overflow-x: auto;
}

code {
    color: #777;
}

/* REGISTRO DE CAMBIOS

  @0.2.3
  - Eliminadas redundancias en estilos para código

*/
